$cause: #702f2f;
$accident: #c1c1c1;

$human-color: #009d9a;
$natural-color: #6929c4;
$uncategorized-color: #012749;

html , body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#desc {
    z-index: 100;
    opacity: 0.5;
}

#injury-filter {
    position: absolute;
    z-index: 1000;
}

svg {
    position: absolute;
    //left:0;
    //top:0;
    width: 100%;
    height: 100%;
}


.link {
    stroke: #999;
    stroke-opacity: 0.6;
    /*
    &[highlighted="true"] {
        stroke-opacity: 1;
    }
    &[highlighted="false"] {
        stroke-opacity: 0.1;
    }
    */
}

[highlighted=false] {
    opacity: 0.2;
    &.link {
        stroke-opacity: 0.1;
    }
}
[highlighted=true]{
    &.link {
        stroke-opacity: 1;
    }
} 





.node {
    //cursor: pointer;
    @mixin default() {
        stroke: #fff;
        stroke-width: 1.5px;        
    }
    // https://www.carbondesignsystem.com/data-visualization/color-palettes/    

    circle {
        @include default();
    }
    &.cause {

        &[highlighted="false"] circle {
            opacity: 0.2;
        }
        &[type = "Human error"] circle {
            fill: $human-color;
        }
        &[type = "Natural environment"] circle {
            fill: $natural-color;
        }
        &[type = "Uncategorized"] circle {
            fill: $uncategorized-color
        }
    }   



    &.detail-cause circle {
        fill: #2d0d68;
    }
    &.accident circle {
        fill: $accident;
        r:20;
    }
    .cause-label {
        fill: white;
        cursor: inherit;
        //user-select: none;
    }
    .detail-label {
        fill: black;
    }

}  

  
text {
    //font-family: sans-serif;
    font-size: 10px;
}


.tooltip {

    &.main-cause-tooltip {
        width: 200px;
    }

    &.accident-tooltip {
        width: 400px;
    }
    
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;    
    padding: 1em 1em;
    position: absolute;
    opacity: 0.9;
    animation: pulse 10s infinite;
    &[show=true]{
        z-index: 1000;
    }
    &[show=false]{
        display: none;
        opacity:0;
    }
    &[type = "Human error"] {
        border-color: $human-color;
        .cause-type {
            color: $human-color;  
        }
    }
    &[type = "Natural environment"]  {
        border-color: $natural-color;
        .cause-type {
            color: $natural-color;
        }
    }
    &[type = "Uncategorized"] {
        border-color: $uncategorized-color;
        .cause-type {
            color: $uncategorized-color; 
        }
    }
    &[highlighted="false"] {
        opacity: 0.3;
    }
}

.tooltip-title {

    margin-bottom: 1em;

    h4 {
        margin: 0;
    }

    .cause-type {
        font-size: xx-small;
        margin-top: 0;
    }
}



.tooltip-list {    
    font-size: x-small;
    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > div:nth-child(1) {
            margin: 0 1em 0 0;
        }
        & > div:nth-child(2) {
            margin: 0 0 0 1em;
        }
    }    
}

.injury-chart svg {
    //background-color: black;
    //width:calc(100%-2em);
    //height: inherit;
    width: 200px;
    height: auto;
    rect {
        stroke-width: 0.5;
        stroke: white;
    }
    text {
        font-size: 3px;
    }

}

.injury-chart {
    //background-color: purple;
    height: 50px;
    margin: 1em 0;
}



[injury-max = "Fatality"] {
    rect , circle {
        fill: #67000d;
    } 
}
[injury-max = "Hypothermia"] {
    rect , circle {
        fill: #970b13;
    }     
}
[injury-max = "Amputation"]{
    rect, circle{
        fill: #bb151a;
    } 
}
[injury-max = "Fracture"] {
    rect , circle {
        fill: #d92723;
    }     
}
[injury-max = "Sprain or Strain"] {
    rect  , circle{
        fill: #ef4533;
    }
}
[injury-max = "Abrasion or Laceration"] {
    rect , circle{
        fill: #f9694c;
    }    
}
[injury-max = "Concussion or Head Trauma"] {
    rect , circle {
        fill: #fc8a6b;
    } 
}
[injury-max = "Bruise"] {
    rect , circle {
        fill: #fcaa8e;
    } 
}
[injury-max = "Dislocation"] {
    rect , circle {
    fill: #fdc9b4;    
    }
}
[injury-max = "Psychological"] {
    rect, circle {
    fill: #fee3d6;
    }
}
[injury-max = "No Injury or Near Miss"]{
    rect , circle {
    fill: #fff5f0;
    }
}
[injury-max = "Others"] {
    rect , circle {
    fill: #cccccc;
    }
}


#detail-chart {
    
    [category = accident]{
        circle {
            //fill: red;
        }
    }
    [category = cause]{
        circle {
            fill: blue;
        }
    }
}
.dummy {
    visibility: hidden;
}