$cause: #702f2f;
$accident: #c1c1c1;

$human-color: #009d9a;
$natural-color: #6929c4;
$uncategorized-color: #012749;

$default-color: black;
$bg-color: white;

$chart-font-size: 12px;

html , body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#desc {
    z-index: 100;
    opacity: 0.5;
}

#injury-filter {
    position: absolute;
    z-index: 1000;
}

#controller {
    bottom: 1em;
    left: 1em;
    opacity: 0;    

}

.float-btn {

    $index: 30px;
    width: $index;
    height: $index;
    border-radius: $index;
    box-shadow: 5px 5px 10px $default-color;
    position: absolute;
    z-index: 1200;
    padding: 0.5em;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

#filter-icon {
    opacity: 0.7;
    top: 1em;
    right: 1em; 

}

#filter {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: opacify($color: black, $amount: 0.5);
    > div{
        // filter content
        background-color: $bg-color;
        border-radius: 5px;
        height: 100px;
        width: 100px;
    }
}


#sidebar {

    opacity: 0.8;
    &[highlighted = false]{
        opacity: 0.2;
    }
    position: absolute;
    left:0;
    top:0;
    width: 25%;  
    padding: 1em;
    color: lighten($color: $default-color, $amount: 50);
    h1 {
        font-size: x-large;
        text-transform: capitalize;
    }
    h2 {
        font-size: large;
    }

    #legend-note {
        margin-top: 3em;
        &::before {
            content: "* ";
        }
        color: lighten($color: $default-color, $amount: 70)
    }
    
}

svg {
    position: absolute;
    //left:0;
    //top:0;
    width: 100%;
    height: 100%;
}

#contribution {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: x-small;
    padding: 0.5em;
    opacity: 0.3;
    a {
        text-decoration: none;
        color: $default-color;
    }
}


.link {
    stroke: #999;
    stroke-opacity: 0.6;
    /*
    &[highlighted="true"] {
        stroke-opacity: 1;
    }
    &[highlighted="false"] {
        stroke-opacity: 0.1;
    }
    */
}

[highlighted=false] {
    opacity: 0.2;
    &.link {
        stroke-opacity: 0.1;
    }
}
[highlighted=true]{
    &.link {
        stroke-opacity: 1;
    }
} 



[type = "Human error"]{
    circle{
        fill: $human-color;
    }    
}
[type = "Natural environment"] {
    circle{
        fill: $natural-color;
    }
    
}
[type = "Uncategorized"]{
    circle{
        fill: $uncategorized-color;
    }    
}


#main-chart .node{
    cursor: pointer;
    &[drag = true]{
        cursor:grabbing;
    }
}

#detail-chart .node {
    cursor: grab;
    circle[drag=true]{
        cursor: grabbing;
    }

}



.node {
    
    @mixin default() {
        stroke: #fff;
        stroke-width: 1.5px;
    }
    // https://www.carbondesignsystem.com/data-visualization/color-palettes/    

    circle {
        @include default();
    }
    &.cause {

        &[highlighted="false"] circle {
            opacity: 0.2;
        }

    }   



    &.detail-cause circle {
        fill: #2d0d68;
    }
    &.accident circle {
        fill: $accident;        
    }
    .cause-label {
        fill: white;
        cursor: inherit;
        //user-select: none;
    }
    .detail-label {
        fill: black;
    }

}  

  
text {
    //font-family: sans-serif;
    font-size: $chart-font-size;
}

.center .node {
    cursor: url("/source/back.svg"), auto !important;
    cursor:  pointer;
    //transition: opacity 3s;
    -webkit-animation: fadein 5s linear 1 normal forwards;
    opacity: 0.5;
    &:hover {
        opacity: 1 !important;
    }
    @-webkit-keyframes fadein{
        from { opacity: 1; }
        to { opacity: 0.3; }
    }
    &[highlighted= true]{
        opacity: 1;
    }
}




// tooltips
$main-tooltip-width: 300px;
$accident-tooltip-width: 400px;
$tooltip-padding: 2em;

.tooltip {

    font-size: small;

    &.main-cause-tooltip {
        width: $main-tooltip-width;
        opacity: 0.9;
        &[highlighted=false] {
            opacity: 0.3;
        }
        &[highlighted=true] {
            opacity: 0.9;
        }

        p {
            margin-top: 0.2em;
        }

        text.number {
            fill: $bg-color !important;
        }

        [type = "Human error"]  {
            rect , text {
                fill: $human-color;
            }
        }
        [type = "Natural environment"]{
            rect, text {
                fill: $natural-color;
            }           
        }
        [type = "Uncategorized"] {
            rect , text {
                fill: $uncategorized-color;
            }
        }
    }

    &.accident-tooltip {
        width: $accident-tooltip-width;
        // opacity change
        opacity: 0.7;
        &[highlighted=false] {
            opacity: 0.3;
        }
        &[highlighted=true] {
            opacity: 0.9;
        }
    }
    
    background-color: $bg-color;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;    
    padding: $tooltip-padding;
    position: absolute;    
    animation: pulse 10s infinite;
    &[type = "Human error"] {
        //border-color: $human-color;
        .cause-type {
            color: $human-color;  
        }
    }
    &[type = "Natural environment"]  {
        //border-color: $natural-color;
        .cause-type {
            color: $natural-color;
        }
    }
    &[type = "Uncategorized"] {
        //border-color: $uncategorized-color;
        .cause-type {
            color: $uncategorized-color; 
        }
    }


    
}


.tooltip {
    hr {
        margin: 1em 0em;
        opacity: 0.5;
    }
    .tooltip-subtitle {
        color: lighten($default-color, 65);
        margin-bottom: 1em;
    }

    .tooltip-note {
        fill: lighten($color: $default-color, $amount: 70);
        color: lighten($color: $default-color, $amount: 70);
        font-size: $chart-font-size;
        &::before {
            content: "* ";
        }
    }
    .view-more {
        $max: #67000d;
        $min: #fff5f0;

        margin: 1em 0em;
        text-align: right;
        width: fit-content;    
        border-radius: 5px; 
        float: right;
        padding: 0.5em 2em;
        border-width: 1px;  
        /* 
        a:-webkit-any-link{
            text-decoration: none; 
            color: white; 
        }    
        */   
        a:link {
            text-decoration: none;            
            border-radius: 5px;
            //color: white;   
        }         
        &.bg-dark a:link {
            color: $min;
        }
        &.bg-light {
            a:link {
                color: $max;
            }
            border-color: $max;            
        }
        
    }

}

.tooltip-title {

    margin-bottom: 1em;

    h4 {
        margin: 0;
        font-size: medium;
    }

    .cause-type {
        font-size: x-small;
        margin-top: 0;
    }
}



.tooltip-list {

    img {
        height: 1.5em;
        padding-left: 0.5em;
    }

    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & > div:nth-child(1) {
            margin: 0 1em 0 0;
        }
        & > div:nth-child(2) {
            margin: 0 0 0 1em;
        }
    }

    .switch {
        cursor: pointer;
    }
    .rating > div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    } 
}

.main-cause-tooltip .injury-chart {
    //background-color: purple;
    //height: 50px;
    
    svg {
        //background-color: black;
        //width:calc(100%-2em);
        //height: inherit;
        height: auto;
        width: $main-tooltip-width;
        rect {
            stroke-width: 0.5;
            stroke: white;
        }
        text {
            font-size: 3px;
        }
    }
}

.main-cause-tooltip .neighor-cause-chart{
    
    svg { 
        width:  $main-tooltip-width;     
        height: auto;
    }
}

.accident-tooltip .injury-chart{
    //background-color: purple;
    //height: 30px;
    margin: 1em 0;
    text {
        font-size: 6px;
    }
    svg {
        //background-color: black;
        //width:calc(100%-2em);
        //height: inherit;
        width: 400px;
        height: auto;
        rect {
            stroke-width: 0.5;
            stroke: white;
        }
    }
}

.accident-tooltip .cause-chart {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: space-between;
    padding:0;
    margin: 0;
    [type = "Human error"]::before{
        color: $human-color;
    }
    [type = "Natural environment"]::before{
        color: $natural-color;
    }
    [type = "Uncategorized"]::before{
        color: $uncategorized-color;
    }
    div {
        padding-right: 1em;
    }
    div::before{
        content: " ● ";
        font-size: x-large;
        vertical-align: sub;
        margin: 0;
        line-height: 0;
        padding: 0;        
    }
    /*
    margin: 1em 0;
    text {
        font-size: 6px;
    }
    svg {
        width: 400px;
        height: auto;
        rect {
            stroke-width: 0.5;
            stroke: white;
        }
    }
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    

    div {
        margin: 0em 1em;
        ul, li {
            margin: 0;
            
        }
        ul{
            padding-left: 1em;            
        }
        li {
            padding-left: 0em;
            display: inline;
        }
        
    }
    
    ul {
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap:wrap; 
               
    }
    li{
        margin: 0em 1em;  
        

        vertical-align: middle;
        &::before{
            content: " ● ";
            padding-left: 0em;
            font-size: xx-large;
            align-items: center;
            //vertical-align: middle;       
        }
        &[type = "Human error"]{
            color: $human-color;
        }
    }
    */
}

.tooltip-analysis {
    margin: 1em 0;
    max-height: 7em;
    width: 100%;
    // https://medium.com/@dvmsoni3132/easy-truncate-multi-line-ellipsis-with-pure-css-e0d24d68078e
    //max-width: calc($accident-tooltip-width - $tooltip-padding*2);
    -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box; 
    padding-top: 0;
  
}





/*

$injury-color-max: #67000d;
$injury-color-min: #fff5f0;

[injury-max = "Fatality"] {
    $color: #67000d;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-min;
    }
}
[injury-max = "Hypothermia"] {
    $color: #970b13;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-min;
    }
}
[injury-max = "Amputation"]{
    $color: #bb151a;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-min;
    }
}
[injury-max = "Fracture"] {
    $color: #d92723;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-min;
    }   
}
[injury-max = "Sprain or Strain"] {
    $color: #ef4533;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-min;
    }
}
[injury-max = "Abrasion or Laceration"] {
    $color: #f9694c;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-max;
    } 
}
[injury-max = "Concussion or Head Trauma"] {
    $color: #fc8a6b;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-max;
    }
}
[injury-max = "Bruise"] {
    $color: #fcaa8e;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-max;
    }
}
[injury-max = "Dislocation"] {
    $color: #fdc9b4;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-max;
    }
}
[injury-max = "Psychological"] {
    $color: #fee3d6;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
        color: $injury-color-max;
    }
}
[injury-max = "No Injury or Near Miss"]{
    $color: #fff5f0;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
    }
}
[injury-max = "Others"] {
    $color:  #cccccc;
    rect , circle {
        fill: $color;
    } 
    .view-more a:link {
        background-color: $color;
    }
}
*/

.dummy {
    visibility: hidden;
}
.title text{
    fill: $bg-color;
    font-size: 20px;
}




#legend { 

    $space: 5px;
    font-size: small;

    .legend-item {
        margin: 0 0 0.5em 0;      
    }

    .vertical-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        &>div:first-child{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            //font-size: 5px;
            padding-right: 0.5em;
        }
    }

    #legend-cause-type .list {

        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        //justify-content: space-between;


        [type = "Human error"]::before{
            color: $human-color;
        }
        [type = "Natural environment"]::before{
            color: $natural-color;
        }
        [type = "Uncategorized"]::before{
            color: $uncategorized-color;
        }
        div {
            padding-right: 1em;
        }
        div::before{
            content: " ● ";
            font-size: x-large;
            vertical-align: sub;
            margin: 0;
            line-height: 0;
            padding: 0;
        }
    }
    .two-column {
        display: flex;
        flex-direction: row;
        align-items: center; 
        div:first-child{
            width: 10%;
            margin-right: 1em;
        }
        div:last-child{
            width: 90%;
        }
    }
    #legend-cause-size {        
        span:first-child{
            font-size: xx-large;
            vertical-align: sub;
        }
        span:last-child {
            font-size: large;
        }
    }
    #legend-correlation {
        div:first-child {
            height: 0.7em;
            border-top: 5px solid $default-color;
            border-bottom: 2px solid $default-color;
        }
        
    }
    #legend-injury-type .list {
        .item {
            display: flex;
            flex-direction: row;            
            div:first-child {
                width: 1em;
                margin-right: 1em;
            }
        }
        

    }
}

    
    