html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#desc {
  z-index: 100;
  opacity: 0.5;
}

#injury-filter {
  position: absolute;
  z-index: 1000;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  /*
    &[highlighted="true"] {
        stroke-opacity: 1;
    }
    &[highlighted="false"] {
        stroke-opacity: 0.1;
    }
    */
}

[highlighted=false] {
  opacity: 0.2;
}

[highlighted=false].link {
  stroke-opacity: 0.1;
}

[highlighted=true].link {
  stroke-opacity: 1;
}

[type="Human error"] circle {
  fill: #009d9a;
}

[type="Natural environment"] circle {
  fill: #6929c4;
}

[type="Uncategorized"] circle {
  fill: #012749;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.cause[highlighted="false"] circle {
  opacity: 0.2;
}

.node.detail-cause circle {
  fill: #2d0d68;
}

.node.accident circle {
  fill: #c1c1c1;
  r: 20;
}

.node .cause-label {
  fill: white;
  cursor: inherit;
}

.node .detail-label {
  fill: black;
}

text {
  font-size: 10px;
}

.tooltip {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 1em 1em;
  position: absolute;
  opacity: 0.9;
  -webkit-animation: pulse 10s infinite;
          animation: pulse 10s infinite;
}

.tooltip.main-cause-tooltip {
  width: 200px;
}

.tooltip.accident-tooltip {
  width: 400px;
}

.tooltip[show=true] {
  z-index: 1000;
}

.tooltip[show=false] {
  display: none;
  opacity: 0;
}

.tooltip[type="Human error"] {
  border-color: #009d9a;
}

.tooltip[type="Human error"] .cause-type {
  color: #009d9a;
}

.tooltip[type="Natural environment"] {
  border-color: #6929c4;
}

.tooltip[type="Natural environment"] .cause-type {
  color: #6929c4;
}

.tooltip[type="Uncategorized"] {
  border-color: #012749;
}

.tooltip[type="Uncategorized"] .cause-type {
  color: #012749;
}

.tooltip[highlighted="false"] {
  opacity: 0.3;
}

.tooltip-title {
  margin-bottom: 1em;
}

.tooltip-title h4 {
  margin: 0;
}

.tooltip-title .cause-type {
  font-size: xx-small;
  margin-top: 0;
}

.tooltip-list {
  font-size: x-small;
}

.tooltip-list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tooltip-list > div > div:nth-child(1) {
  margin: 0 1em 0 0;
}

.tooltip-list > div > div:nth-child(2) {
  margin: 0 0 0 1em;
}

.injury-chart svg {
  width: 200px;
  height: auto;
}

.injury-chart svg rect {
  stroke-width: 0.5;
  stroke: white;
}

.injury-chart svg text {
  font-size: 3px;
}

.injury-chart {
  height: 50px;
  margin: 1em 0;
}

[injury-max="Fatality"] rect, [injury-max="Fatality"] circle {
  fill: #67000d;
}

[injury-max="Hypothermia"] rect, [injury-max="Hypothermia"] circle {
  fill: #970b13;
}

[injury-max="Amputation"] rect, [injury-max="Amputation"] circle {
  fill: #bb151a;
}

[injury-max="Fracture"] rect, [injury-max="Fracture"] circle {
  fill: #d92723;
}

[injury-max="Sprain or Strain"] rect, [injury-max="Sprain or Strain"] circle {
  fill: #ef4533;
}

[injury-max="Abrasion or Laceration"] rect, [injury-max="Abrasion or Laceration"] circle {
  fill: #f9694c;
}

[injury-max="Concussion or Head Trauma"] rect, [injury-max="Concussion or Head Trauma"] circle {
  fill: #fc8a6b;
}

[injury-max="Bruise"] rect, [injury-max="Bruise"] circle {
  fill: #fcaa8e;
}

[injury-max="Dislocation"] rect, [injury-max="Dislocation"] circle {
  fill: #fdc9b4;
}

[injury-max="Psychological"] rect, [injury-max="Psychological"] circle {
  fill: #fee3d6;
}

[injury-max="No Injury or Near Miss"] rect, [injury-max="No Injury or Near Miss"] circle {
  fill: #fff5f0;
}

[injury-max="Others"] rect, [injury-max="Others"] circle {
  fill: #cccccc;
}

.dummy {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */